.TodoItem {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  background-color: #7f39fb;
  border-radius: 12px;
  font-size: 24px;
  font-family: Quicksand;
  margin-top: 30px;

  width: calc(100% - 900px);
  min-width: 300px;

}

.TodoItem:hover {
  opacity: 80%;
}

.TodoItem-p {
  width: calc(100% - 120px);

  font-weight: 600;
  font-size: 20px;
  font-family: Quicksand;
}

.TodoItem-p--complete {
  text-decoration: line-through;
}

.Icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  font-size: 24px;
  font-weight: bold;
}

.Icon-check {
  position: absolute;
  left: 12px;
}

.Icon-check--active {
  color: #03DAC6;
}

.Icon-delete {
  position: absolute;
  right: 0;
}

.Icon-delete:hover {
  color: red;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}