.TodoItem {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  background-color: #7f39fb;
  border-radius: 12px;
  font-size: 24px;
  font-family: Quicksand;
  margin-top: 30px;

  width: calc(100% - 900px);
  min-width: 300px;

  /* Animacion */
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;

}

.TodoItem:hover,
TodoItem:focus,
TodoItem:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.TodoItem-p {
  width: calc(100% - 120px);

  font-weight: 600;
  font-size: 20px;
  font-family: Quicksand;
}

.TodoItem-p--complete {
  text-decoration: line-through;
}

.Icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  font-size: 24px;
  font-weight: bold;
}

.Icon-check {
  position: absolute;
  left: 12px;
}

.Icon-check--active {
  color: #03DAC6;
}

.Icon-delete {
  position: absolute;
  right: 0;
}

.Icon-delete:hover {
  color: red;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}