.CreateTodoButton {
  background-color: #7f39fb;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 30px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  font-weight: bold;
  color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  width: 54px;

  min-height: 30px;
  min-width: 30px;


  transform: rotate(0);
  transition: .3s ease;
}

.CreateTodoButton:hover {
  transform: rotate(224deg);
}

.CreateTodoButton {
  z-index: 1;
}