.todoSearch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}

.TodoSearch {

  background: #F7F7F7;
  border-radius: 12px;

  height: 64px;
  width: calc(100% - 900px);




  text-align: center;
  font-weight: 400;

  border: none;
  font-size: 24px;
  text-align: center;
  font-family: 'Quicksand';
  font-weight: 400;
  color: black;
}

.TodoSearch::placeholder {
  color: #A5A5A5;
  font-family: 'Quicksand';
  font-weight: 400;
}

.TodoSearch:focus {
  outline: 2px solid #7f39fb;
}